body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.wrapper {
  width: 200px;
  height: 700px;
  margin: 20px;
}
.red,
.blue {
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 20px;
}

.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
